<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container text-white">
    <div class="col-md-4">
      <h6>Links Útiles</h6>
      <a class="navbar-brand" href="/auth/login" style="font-size: 11px;">
        Ingreso vendedores
      </a>
    </div>
    <div class="col-md-4">
      <h6>Contactanos</h6>
      <span style="font-size: 11px;">
        alejandrojuarez675@gmail.com<br>
        +54 (343) 156-210-450<br>
        Rosario, Santa Fe, Argentina<br>
      </span>
    </div>
    <!-- <div class="col-md-4">
      <h6>Conócenos</h6>
      <a class="text-white" href="">
        Soy comerciante
      </a>
    </div> -->
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #242424;">
  <div class="container container-fluid">
    <div class="col-md-12">
      <a class="navbar-brand" href="">
        ilBarto
      </a>
    </div>
  </div>
</nav>
