<div class="p-2">
  <h4 class="d-none d-md-block">Mi pedido</h4>
  <p *ngIf="cart.products.length === 0">Aún no hay productos en el carro</p>
  <ul>
    <li *ngFor="let product of cart.products">
      <small>{{product.quantity}}x</small>
      &nbsp;{{ product.name }}&nbsp;
      <small>{{(product.price/product.quantity) | currency}}</small>
    </li>
    <li>
      Envío {{cart.deliveryCost | currency}}
    </li>
  </ul>
  <h5>Total: {{cart.price | currency}}</h5>

  <button class="btn btn-primary w-100" (click)="sendCart()" [disabled]="cart.products.length === 0">Enviar</button>
</div>
